#product {
  position: relative;
  background-color: #f7f7f7;

  .add-btn {
    z-index: 1;
    position: absolute;
    right: 48px;
  }

  .title {
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

    .tip {
      height: 32px;
      line-height: 32px;
      display: inline-block;
    }
  }
  .el-tabs__header {
    padding: 0 24px;
    margin: 0 0 16px 0;
    background-color: white;
    
    .el-tabs__nav-wrap::after {
      display: none;
    }
  }
  .el-tabs__content {
    background-color: white;
    margin: 24px;
    padding: 24px;
  }
}